header #navbar ul li a i{
    display: none;
}

header #navbar{
    flex-direction: column;
    height: 80px;
}

header #navbar ul li{
    padding: 0;
    margin: 0;
    padding-left: 20px;
    height: 45px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#navbar-button{
    visibility: visible;
}

#left-navbar{
    width: 70vw;
}

header #left-navbar ul li a{
    text-align: center;
    margin-left: 170px;
}

header #left-navbar ul li a i{
    display: none;
}